* {
  font-family: "Degular", Helvetica, arial, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navContainer {
  width: 94%;
  margin: auto;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  width: 85.5vw;
  color: #000;
  font-size: 1rem;
}
.signUpBtn {
  color: white;
  background-color: #ff4f00;
  border-radius: 2.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
  border: none;
}
@media (max-width: 1100px) {
  .navContainer {
    width: 100%;
  }
  .nav-div {
    width: 90vw;
  }
}
@media (max-width: 768px) {
  .navContainer {
    width: 90%;
  }
  .nav-div {
    width: 90vw;
    justify-content: center;
    flex-direction: column;
  }
}
/* ------------------------ */
/* -----HeroSecton----- */
.heroDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto 0;
  width: 70%;
}
.fontSize {
  font-size: 4rem;
  font-weight: 900;
}
.paraDiv p {
  font-size: 24px;
  font-weight: 500;
  margin: 1rem 0;
}
#rotating-paragraph {
  font-size: 18px;
  color: #333;
}

.rotating-span {
  display: none;
  color: #ff4f00;
}

.rotating-span.active {
  display: inline;
}
.googleBtn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 2rem;
  border-radius: 2.1rem;
  border: none;
}
.emailBtn {
  color: white;
  background-color: #ff4f00;
  border-radius: 2.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 2rem;
  border: none;
}
/* ----------------------------- */
/* ImageScroller.css */

.scroller-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 3rem 0;
}

.scroller {
  display: flex;
  width: calc(200%);
  animation: scroll 40s linear infinite;
}

.scroller img {
  width: 90px;
  flex-shrink: 0;
  margin: 0 50px;
  height: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ---------------------- */
/* -----Templates--------- */
.templateDiv {
  width: 70%;
  margin: auto;
  text-align: center;
}
.templateDiv h1 {
  font-size: 4rem;
}
.templateDiv p {
  font-size: 1.5rem;
}
.templateDiv p span {
  text-decoration: underline;
  cursor: pointer;
}
.btnSpan {
  font-size: 1.1rem;
  margin: 2rem 0;
}
.btnSpan span {
  border: 1px solid #000;
  padding: 0.2rem 1rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.templateCardParentDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
}
.templateCardDiv {
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid #a3a3a3;
  border-radius: 0.8rem;
}
.templateCardDiv:hover {
  border: 1px solid #000;
  border-radius: 0.8rem;
  transition: 10ms;
}
.arrowRight{
  margin: 0 0 0 2px;
  transition: margin 200ms ease;
  font-weight: 500 !important;
}
.templateCardDiv:hover .ankerTag {
  text-decoration: none;

}
.templateCardDiv:hover .arrowRight {
  margin: 0 0 0 10px;
}
.templateCardDiv > img {
  border-radius: 0.8rem 0.8rem 0 0;
}
.temContentDiv {
  margin: 2rem;
}
.temContentDiv a {
  color: #000;
}
.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.templatesBtn{
  color: #ffff;
  margin: 2rem 0;
  font-size: 1.2rem;
  padding: 0.4rem 1.8rem;
  border-radius: 1.6rem;
  border: 1px solid #2b2358;
  background-color: #2b2358;
}
/* ---------------------- */
/* -----FixedImageScroll--------- */
.container {
  width: 75%;
  margin: auto;
}
.workflows-div{
  width: 90%;
  margin: auto;
}
.workflows-div h1{
  font-size: 4.7rem;
  text-align: center;
}
.workflows-div p{
  font-size: 1.7rem;
  text-align: center;
}
.pane-container{
  display: flex;
}
.left-pane {
  position: relative;
  width: 40%;
}
.image-container {
  position: sticky;
  top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container .image {
  max-width: 500px;
  /* max-height: calc(100vh - 40px); */
  object-fit: cover;
  /* opacity: 0; */
  transition: opacity 1s ease-in-out;
}

.image-container .image.visible {
  opacity: 1;
}

.right-pane {
  /* margin-left: 15%; */
  padding: 20px;
  width: 60%;
  margin: 8% 0 8% 18%;
}
.right-pane.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
.content {
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.content.visible {
  opacity: 1;
  transform: translateY(0);
}
.content h1{
  font-size: 2.3rem;
}
.content p{
  font-size: 1.4rem;
}
/* ---------------------- */
/* -----BuilderBlock--------- */
.backgroundColor{
  background-color: #2b2358;
  color: #fff;
}
.builderDiv{
width: 90%;
margin: 5rem auto;
padding: 5rem  0;
}
.builderDiv > h1{
  text-align: center;
  font-size: 3.38rem;
}
.tagImageDiv{
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
  width: 80%;
}
.tagImageDiv img{
  width: 115px;
}
.customerDiv{
  display: flex;
  justify-content: space-evenly;
}
.customerDiv div{
  border: 1px solid #a3a3a3;
  border-radius: 1rem;
  width: 28%;
  padding: 1.5rem;
}
.customerDiv div h1{
  font-size: 6.5rem;
  line-height: 4.5rem;
}
.customerDiv div p{
  font-size: 1.1rem;
  margin-top: 1.5rem;
}
/* ---------------------- */
/* -----ZapierLogo--------- */
.zapierImgDiv{
  width: 90%;
  margin: auto;
}
.zapierImgDiv > img{
  width: 100%;
}
/* ---------------------- */
/* -----Footer--------- */
.letter-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  margin: 0px 20px 20px 20px; 
}
.letter,.letter-container > span {
  margin: 0 0.6rem; 
  font-size: 1rem; 
  cursor: pointer;
}
.letter:hover,.letter-container > span:hover{
  color: #3d4592;
}

.spanMainDiv{
  /* display: flex;
  justify-content: space-between; */
  width: 88%;
margin: auto;
}
.spanMainDiv div{
  display: flex;
  flex-direction: column;
}
.spanMainDiv div span{
  cursor: pointer;
  margin: 0.1rem 0;
}
.spanMainDiv div span:hover{
  color: #3d4592;
}
.spanMainDiv div span:first-child{
  cursor: default;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.tital{
  font-weight: 600;
  text-align: center;
  margin: 2rem 0 1rem 0 ;
}
.spanMainDiv div span:first-child:hover{
  color: #000;
}
.spanMainDiv div span:last-child{
  text-decoration: underline;
}
/* .svgMainDiv{
  display: flex;
  width: 500px;
} */
 .footerNav{
  width: 86.5%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .footerNav p{
  /* margin-bottom: 0; */
  margin: 0 0.4rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.svgDiv{
  display: flex;
}
.wiFiSvg,.facebookSvg,.linkedInSvg,.twiterSvg,.youTubeSvg{
  background-color: #a8a5a0;
  padding: 0.6rem 0.45rem;
  border-radius: 2.5rem;
  margin: 0 0.3rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}
.facebookSvg:hover{
  background-color: #251e47;
}
.linkedInSvg:hover{
  background-color: #3d4592;
}
.twiterSvg:hover{
background-color: #496afd;
}
.youTubeSvg:hover{
background-color: #fc3508;
}
.wiFiSvg:hover{
  background-color: #ff4f00;
}
.navLinks,.navLink{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}
.navLinks li{
  margin: 0 1rem;
  cursor: pointer;
}
.navLink li{
  margin: 0 0.1rem;
  cursor: pointer;
}
.navLink li span{
  margin: 0 0.3rem;
  color: #6d6c6b;
}
.navLinks li:hover,.navLink li:hover{
  color: #3d4592;
}